a,
a.cn-button,
body,
div#cookie-notice,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
head,
input,
p,
pre.wp-block-verse {
  font-family: anuphan, "ibm plex sans", sans-serif !important;
}
div.page-banner.overlap {
  margin-bottom: 50px;
}
.main-navigation a {
  font-size: 16px;
  font-weight: 700;
}
span.bsf-rt-reading-time {
  border-radius: 5px;
}
div.bytes-adlabel {
  font-style: italic;
  font-size: 75%;
  color: black;
}
div.entry-content a {
  text-decoration: underline;
}
.wp-block-verse,
th {
  background-color: #f1f1ef;
  border-radius: 5px;
}
tr {
  background-color: #fbfbfb;
}
.wp-block-gallery img,
.wp-block-image:not(.is-style-rounded) img {
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
blockquote.wp-block-quote {
  margin-left: 0;
}
table {
  margin-bottom: 5px;
}
figcaption {
  font-style: italic;
  text-align: center;
}
