@font-face {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/Anuphan/woff2/Anuphan-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/Anuphan/otf/Anuphan-Medium.otf)
      format("otf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Anuphan";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://template.sagelga.com/font/Anuphan/woff2/Anuphan-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/Anuphan/otf/Anuphan-Bold.otf)
      format("otf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Anuphan";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/Anuphan/woff2/Anuphan-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/Anuphan/otf/Anuphan-Medium.otf)
      format("otf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexMono/woff2/IBMPlexMono-Regular.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexMono/otf/IBMPlexMono-Regular.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexMono/woff2/IBMPlexMono-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexMono/otf/IBMPlexMono-Bold.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans/woff2/IBMPlexSans-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSans/otf/IBMPlexSans-Medium.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans/woff2/IBMPlexSans-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSans/otf/IBMPlexSans-Bold.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans/woff2/IBMPlexSans-Italic.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSans/otf/IBMPlexSans-Italic.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThai/woff2/IBMPlexSansThai-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThai/otf/IBMPlexSansThai-Medium.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThai/woff2/IBMPlexSansThai-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThai/otf/IBMPlexSansThai-Bold.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/woff2/IBMPlexSansThaiLooped-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/otf/IBMPlexSansThaiLooped-Medium.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/woff2/IBMPlexSansThaiLooped-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/otf/IBMPlexSansThaiLooped-Bold.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2)
    format("woff2");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2)
    format("woff2");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}
