@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexMono-Regular.woff2) format('woff2');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexMono-Bold.woff2) format('woff2');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans-Medium.woff2) format('woff2');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans-Bold.woff2) format('woff2');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSans-Italic.woff2) format('woff2');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'Anuphan';
  src: url(https://template.sagelga.com/font/Anuphan-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0E00-U+0E7F;
}

@font-face {
  font-family: 'Anuphan';
  src: url(https://template.sagelga.com/font/Anuphan-Bold.woff2) format('woff2');
  font-style: bold;
  font-weight: 700;
  unicode-range: U+0E00-U+0E7F;
}

@font-face {
  font-family: 'Anuphan';
  src: url(https://template.sagelga.com/font/Anuphan-Medium.woff2) format('woff2');
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0E00-U+0E7F;
}
