@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/woff2/IBMPlexSansThaiLooped-Medium.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/otf/IBMPlexSansThaiLooped-Medium.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/woff2/IBMPlexSansThaiLooped-Bold.woff2)
      format("woff2"),
    url(https://template.sagelga.com/font/IBMPlexSansThaiLooped/otf/IBMPlexSansThaiLooped-Bold.otf)
      format("otf");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2)
    format("woff2");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(https://template.sagelga.com/font/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2)
    format("woff2");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}
