name: Vuepress Deploy

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@latest

      - name: Install yarn dependencies
        run: yarn

      - name: Deploy VuePress Website
        uses: jenkey2011/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          TARGET_REPO: sagelga/template
          TARGET_BRANCH: website
          BUILD_SCRIPT: yarn build
          BUILD_DIR: docs/.vuepress/dist/
          CNAME: template.sagelga.com
